.body{
    scroll-behavior: smooth;
}

.nav-section{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 2%;
    /* background-image: url("./Header/woods.jpg"); */

}

#work{

}

.nav{
 color: black;
 border-color: none;


}

.nav a:link{
    text-decoration: none;
    color: black;
}


.nav a:visited{
    text-decoration: none;
    color: black;
}

.nav a:hover{
    text-decoration: none;
    color: white;
}


.nav a:active{
   text-decoration: none;
   color: black;
 }


 @media only screen and (max-width: 768px) {

    /* expand this to the click feature for mobile instead of hover */
    .nav a:hover{
        color: black;
     }

}